@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  @apply text-gray-800 bg-gray-50;
}

a {
  display: inline-block;
  border-bottom: 1px dashed;
}

a:hover {
  color: theme("colors.purple.500");
}
